/.cache/git/config linguist-generated
/.cache/git/hooks/pre-push linguist-generated
/.cache/vale/Vocab/yaya/accept.txt linguist-generated
/.cache/vale/config/vocabularies/yaya/accept.txt linguist-generated
/.dir-locals.el linguist-generated
/.editorconfig linguist-generated
/.envrc linguist-generated
/.gitattributes linguist-generated
/.github/renovate.json linguist-generated
/.github/settings.yml linguist-generated
/.github/workflows/build.yml linguist-generated
/.github/workflows/flakestry-publish.yml linguist-generated
/.github/workflows/hackage-publish.yml linguist-generated
/.github/workflows/switch-pm-generation.yml linguist-generated
/.gitignore linguist-generated
/.hlint.yaml linguist-generated
/.vale.ini linguist-generated
/containers/LICENSE linguist-generated
/containers/LICENSE.AGPL-3.0-only linguist-generated
/containers/LICENSE.Universal-FOSS-exception-1.0 linguist-generated
/containers/LICENSE.commercial linguist-generated
/core/LICENSE linguist-generated
/core/LICENSE.AGPL-3.0-only linguist-generated
/core/LICENSE.Universal-FOSS-exception-1.0 linguist-generated
/core/LICENSE.commercial linguist-generated
/garnix.yaml linguist-generated
/hedgehog/LICENSE linguist-generated
/hedgehog/LICENSE.AGPL-3.0-only linguist-generated
/hedgehog/LICENSE.Universal-FOSS-exception-1.0 linguist-generated
/hedgehog/LICENSE.commercial linguist-generated
/lens/LICENSE linguist-generated
/lens/LICENSE.AGPL-3.0-only linguist-generated
/lens/LICENSE.Universal-FOSS-exception-1.0 linguist-generated
/lens/LICENSE.commercial linguist-generated
/native/LICENSE linguist-generated
/native/LICENSE.AGPL-3.0-only linguist-generated
/native/LICENSE.Universal-FOSS-exception-1.0 linguist-generated
/native/LICENSE.commercial linguist-generated
/nix-ci.nix linguist-generated
/quickcheck/LICENSE linguist-generated
/quickcheck/LICENSE.AGPL-3.0-only linguist-generated
/quickcheck/LICENSE.Universal-FOSS-exception-1.0 linguist-generated
/quickcheck/LICENSE.commercial linguist-generated
/unsafe/LICENSE linguist-generated
/unsafe/LICENSE.AGPL-3.0-only linguist-generated
/unsafe/LICENSE.Universal-FOSS-exception-1.0 linguist-generated
/unsafe/LICENSE.commercial linguist-generated
